@import "styles/tokens";

.desktopOnly {
  @include for-tablet {
    display: none;
  }
  @include for-mobile {
    display: none;
  }
}

.title {
  font-weight: bold;
  padding-bottom: 8px;
}

.bulletPointsWrapper {
  padding-left: 20px;
}

.bulletPoint {
  padding: 4px 0;
}

.wrapper {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  border-radius: 37px;

  padding: 24px 48px;
  @include for-desktop {
    max-width: 357px;
    padding: 48px;
  }

  &Basic {
    height: 199px;

    @include for-desktop {
    margin-top: 60px;
      height: 470px;
    }
  }

  &Enhanced {
    height: 249px;
    display: inline-block !important;
    @include for-desktop {
      height: 590px;
    }
  }
}

.button {
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
}

.bestValueButton {
  background-color: rgba($colorMainBlue, 0.06) !important;
  color: $colorMainBlue;
  border-color: rgba($colorMainBlue, 0.06) !important;
  margin-bottom: 8px;
  font-weight: bold !important;
}

.getStartedButton {
  &Basic {
    color: $colorDarkText;
    background-color: $colorWhite;
    border-color: $colorGreyDark;

    &:hover {
      border-color: $colorGreyDark;
    }
  }

  &Enhanced {
    font-weight: normal;
    color: $colorWhite;
    background-color: $colorMainBlue;
    border-color: $colorMainBlue;

    &:hover {
      border-color: $colorMainBlue;
      background-color: $colorMainBlue;
    }
  }
}