@import "styles/tokens";

.appBar {
  background-color: $colorWhite !important;
  width: 100vw !important;
}

.toolbar {
  width: 100%;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}
.desktopOnly {
  @include for-tablet{
    display: none;
  }
  @include for-mobile{
    display: none;
  }
}
.hideOnDesktop {
  @include for-desktop{
    display: none;
  }
}